

h1{
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 500;
}

h2{
  font-family: 'Montserrat-bold', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

h3{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}
em{
  color: white;
}
section{
  overflow: hidden;
}

body{
  font-family: "Montserrat", sans-serif;

}

/* Navigation Bar*/

.navbar{
  background-color: #ff4c68;
  padding: 3% 10% 3% 15%;
}

.navbar-brand{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}
.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

/* Top Title Section */
#title{
  background-color: #ff4c68;
  max-height: 500px;
}

.container-fluid{
  padding: 3% 15%;
}

.intro{
  color: white;

}
/*Download Buttons */
.downloadA{
  padding: 20px 1px 0px 0px;
}

.downloadG{
  padding: 20px 0px 0px 10px;
}

.tinderdog{
transform: rotate(30deg);
overflow: hidden;
width: 300px;
padding-top: 20px;
}

/*Second section- Features*/
#features{
  text-align: center;
  margin: auto;
  align-items: center;
  padding: 100px 100px;
}
.description{
  color: #8f8f8f;
}

i:hover{
  color:#ff4c68;
}
.check{
  color: #ef8172;
  height:100px;
  padding: 10px;
}
.target{
  color: #ef8172;
  height:100px;
  padding: 10px;
}
.heart{
  color: #ef8172;
  height:100px;
  padding: 10px;
}


/* Testimonial secttion*/
#testimonials{
  text-align: center;
  margin: auto;
  background-color: #ef8172;
}
.testimonial-image{
  border-radius: 100%;
  width: 100px;
  margin: 20px;
}
.testimonial-text{
  font-family: 'Montserrat-bold', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.carousel-item{
    padding: 7% 15%;
}

/*Press Section*/
#press{
background-color: #ef8172;
text-align: center;
padding: 0 0 3% 0;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
